
<div class="row container_fluid">
  <div class="col-md-4">
    <button class="btn btn-primary sidebar-toggler" (click)="toggleSidebar()">Angular Material Component</button>
    <div class="sidebar bg-light" [ngClass]="{'show': isSidebarVisible}">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['input']" routerLinkActive="active">Input</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['autocomplete']" routerLinkActive="active">AutoComplete</a>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="content p-4 col-md-8">
    <router-outlet />
  </div>
</div>